@model webapp.Models.User
@{
    ViewData["Title"] = "Register";
}

<form method="post">
    <input placeholder="username" asp-for="uname" >
    <span asp-validation-for="uname"></span>

    <input placeholder="email" asp-for="email">
    <span asp-validation-for="email"></span>

    <input placeholder="password" asp-for="password" type="password">
    <span asp-validation-for="password"></span>

    <button type="submit">SUBMIT</button>
</form>




