@model webapp.Models.User
@{
    ViewData["Title"] = "Sign in";
}

<form method="post">
    <input placeholder="email" asp-for="email">
    <span asp-validation-for="email"></span>

    <input placeholder="password" asp-for="password" type="password">
    <span asp-validation-for="password" ></span>

    <button type="submit">SUBMIT</button>
</form>