@page
@{

}
<h1>Kontakt</h1>
<table class="table table-striped">
	<thead class="table-dark">
		<tr>
			<th scope="col">Név</th>
			<th scope="col">Fokozat</th>
			<th scope="col">Telefonszám</th>
			<th scope="col">Email</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Kovács Marcell</td>
			<td>Tulajdonos</td>
			<td>+3606304511899</td>
			<td>kmarcell379@gmail.com</td>
		</tr>
		<tr>
			<td>Skribanek Benedek</td>
			<td>Tulaj</td>
			<td>----</td>
			<td>----</td>
		</tr>

	</tbody>
</table>

