@page
@{}

<h1>Szolgáltatások</h1>
<table class="table table-striped">
	<thead class="table-dark">
		<tr>
			<th scope="col">Link</th>
			<th scope="col">Név</th>
			<th scope="col">Ár</th>
		</tr>
	</thead>
	<tbody>
		<tr >
			<td>Link</td>
			<td>Bronz</td>
			<td>1500</td>
		</tr>
		<tr>
			<td>Link</td>
			<td>Ezüst</td>
			<td>2500</td>
		</tr>

	</tbody>
</table>